<header class="row justify-content-between align-items-center pb-3" style="background-image: url('{{ asset('images/fondo-inicio.png') }}'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh; width: 100vw;">
	    <div class="d-flex align-items-center">
        <a href="{{ path('home_index') }}">
            <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">
            <img src="{{ asset('images/favicon.png') }}" alt="Favicon" class="img-fluid mb-4" style="max-height: 4rem;">
            <img src="{{ asset('images/saci-blanco.png') }}" alt="SACI" class="img-fluid mb-4" style="max-height: 4rem;">
        </a>
    </div>
	<nav class="col-auto navbar-expand justify-content-end">	
		<ul class="navbar-nav">
            {% if is_granted('ROLE_JEFE') %}
			    <li class="nav-item"><a class="nav-link" href="{{ path('app_objeto_new') }}">Añadir objeto</a></li>
			{% endif %}
            {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('auth_logout') }}">Cerrar sesión</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('auth_login') }}">Iniciar sesión</a></li>
            {% endif %}
			{% if is_granted('ROLE_USER') %}
				{# <li class="nav-item"><a class="nav-link bg-primary" href="{{ path('admin') }}" target="_blank">Admin</a></li> #}
			{% endif %}
		</ul>
	</nav>
</header>

